<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
        Welcome to {{ title }}!
    </h1>
    <table border="1">
        <tr>
            <td>Code</td>
            <td>Name</td>
            <td>Gender</td>
            <td>Salary</td>
        </tr>

        <tr *ngFor="let emp of employees">
            <td>{{emp.code}}</td>
            <td>{{emp.name |mypipe:emp.gender}}</td>
            <td>{{emp.gender}}</td>
            <td>{{emp.salary}}</td>
        </tr>
    </table>

    <router-outlet></router-outlet>